

{% extends "LouvreBookingBundle::layout.html.twig" %}
{%  block javascripts %}
    {{ parent() }}
{% endblock %}



{% block body %}

    <section class="">
        <h5 class="">Votre visite</h5>
        <div class="">
        {{ include ("LouvreBookingBundle:Booking:form.html.twig") }}
        </div>
    </section>


    <section class="d-flex flex-column justify-content-center mb-4">

    </section>

    <section class="flex-row d-flex justify-content-center mb-5">
    </section>

{% endblock %}

