{% extends "LouvreBookingBundle::layout.html.twig" %}


{% block body %}
    <div id="findUs" class="container-fluid col-12 m-2 p-2">

        <h4 class="p-2 mb-8">Nous retrouver</h4>

            <p>En métro : lignes 1 et 7, station "Palais-Royal / Musée du Louvre"; ligne 14, station "Pyramides"</p>

            <p>En bus : bus n° 21, 24, 27, 39, 48, 68, 69, 72, 81, 95</p>

            <ul class="list-unstyled">Stations Velib' à proximité du musée :
            <li>n°1015 : 2 place A. Malraux</li>
            <li>n°1023 : 165 rue Saint-Honoré</li>
            <li>n°1014 : 5 rue de l’Echelle</li>
            <li>n°1013 : 186 rue Saint-Honoré</li>
            </ul>

            <p>En voiture : un parc de stationnement souterrain est accessible par l'avenue du Général-Lemonnier, tous les jours de 7 h 00 à 23 h 00.</p>

            <p>En Batobus : Escale "Louvre", quai François-Mitterrand</p>
    </div>
    <div>
    <h4 class="pb-3">Nous situer</h4>
        <iframe id="contactMap" width="700" height="400" frameborder="0" style="border:0"

            src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJbxifAiZu5kcRYwgyKej2We8&key=AIzaSyCpHuJ4VgFrIaSUNoZl4M_dNXH4EUEaX0Y"
                allowfullscreen>

        </iframe>

    </div>
{% endblock %}


