{% extends "LouvreBookingBundle::layout.html.twig" %}


{% block body %}
    <div id="legals" class="container-fluid col-12 ">

        <h6>Mentions légales et conditions générales d'utilisation</h6>
        <p class="text-center text-justify">Informations éditeur</p>
        Musée du Louvre Bis
        adresse fictive,
        75058 PARIS CEDEX 01
        Siret fictif 100 000 000 00088 APE 9103Z
        Tel : 01 40 20 50 50</p>
    <div class="jumbotron p-3 m-3">
        <h5>Attention</h5>
        <p>Ce site est purement fictif puisqu'il s'agit d'un projet d'étude. Pour vos vraies réservations, merci de vous rendre sur le site officiel du musée</p>
    </div>
        <p> Directeur de Publication : John Lopez, Président-Directeur </p>

        <p class="text-center text-justify">Informations hébergeur
            Société DIGITALIZER SAS
            22 rue du web
            75011 PARIS
            FRANCE
            Siret : 423 444 555 666 Tél. : +33 (0)2 70 13 70 55</p>


        <h6>Rédaction du site Internet</h6>
        <p class="text-left text-justify">Musée du Louvre bis
            & Digitalizer SAS</p>

        <p class="text-left text-justify">Données à caractère personnel
            Vos données personnelles peuvent être collectées lors de la navigation sur ce site Internet.
            De même, les messages électroniques envoyés au Louvre et les adresses électroniques utilisées pour l'envoi
            d'informations complémentaires sont susceptibles d'être conservées.
            En application des articles 38, 39 et 40 de la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux
            fichiers et aux libertés, vous disposez, gratuitement, d’un droit d’accès, de rectification, de modification
            et d’opposition aux données qui vous concernent ou concernent les personnes décédées dont vous êtes les
            ayants-cause. Si vous souhaitez exercer ce droit vous pouvez vous adresser à la rédaction du site par
            courrier à l'adresse ci-dessus.
        </p>
        <p class="text-left text-justify">Contenus protégés par des droits de propriété intellectuelle
            1) La structure générale du site Internet, ainsi que les logiciels et les bases de données sont la propriété
            exclusive du musée du Louvre. Toute reproduction, toute représentation totale ou partielle, toute
            utilisation, toute adaptation, toute mise à disposition ou modification de ces éléments par quelque procédé
            que ce soit, par quelque personne que ce soit et par quelque moyen que ce soit (notamment la vente, la
            commercialisation, la location, etc.) sans l’autorisation expresse du musée, des éventuels auteurs ou de
            leurs ayant droits est strictement interdite et constitue un délit de contrefaçon au sens du code de la
            propriété intellectuelle.

            2) Les contenus scientifiques, culturels et pédagogiques (textes, documents sonores, audiovisuels et
            multimédia, sans que cette énumération soit limitative) ainsi que les reproductions iconographiques et
            photographiques des œuvres présentés dans ce site avec une signature ou un © sont protégés au titre du droit
            de la propriété intellectuelle.

            Parmi ces contenus, les photographies et textes peuvent être réutilisées aux conditions suivantes :
        </p>
        <h6>Photographies</h6>
        <p class="text-left text-justify">Les photographies créditées © Musée du Louvre / [ …] sont la propriété
            exclusive du musée du Louvre et sont
            utilisées par le musée du Louvre avec l’autorisation de leurs auteurs ou ayants-droits. Les photographies
            créditées © RMN / [ …] sont la propriété de la RMN. Toute réutilisation non commerciale est autorisée sous
            condition de la mention de la source et de l’auteur. Pour toute réutilisation commerciale et/ou éditoriale
            d’image des collections du Musée du Louvre, du Palais, du domaine Louvre Tuileries, du Musée Delacroix ou
            encore de la scénographie des expositions et autres manifestations culturelles organisées par le Musée du
            Louvre, veuillez contacter l’Agence photographique de la Réunion des Musées nationaux et du Grand Palais des
            Champs-Elysées (Rmn-Gp).

        <h6>Ecrits</h6>
        <p class="text-left text-justify">Le musée du Louvre est cessionnaire des textes des parcours de visites et de
            notices d’œuvres. Toute réutilisation de ces écrits est libre, à la condition que ces derniers ne soient pas
            altérés, que leur sens ne soit pas dénaturé, et que leurs sources et la date de leur dernière mise à jour
            soient mentionnées. Toute réutilisation commerciale est soumise à l'accord préalable et exprès du musée du
            Louvre. Pour toute demande entrant dans ce cadre, merci de contacter le Service Multimédia du musée du
            Louvre.

            3) Les marques du musée du Louvre et de ses partenaires, ainsi que les logos figurant sur le site sont des
            marques déposées et enregistrées auprès de l'INPI et sont, à ce titre, protégés par un droit de propriété
            industrielle.

            Toute reproduction totale ou partielle de ces marques et/ou de ces logos effectués à partir des éléments du
            site sans l’autorisation expresse de leurs propriétaires est strictement interdite et constitue un délit de
            contrefaçon au sens du code de la propriété intellectuelle.

            Informations publiques
            Conformément aux articles L 321-1 et L322-1 du code des relations entre le public et l’administration, les
            contenus informatifs et de programmation de ce site sont des informations publiques dont la réutilisation
            est libre, à la condition que ces dernières ne soient pas altérées, que leur sens ne soit pas dénaturé, et
            que leurs sources et la date de leur dernière mise à jour soient mentionnées.

            Aucun transfert de propriété des informations publiques n'est opéré au profit du réutilisateur. Ce dernier
            bénéficie d'un droit personnel et non exclusif de réutilisation de ces informations publiques. Toute
            personne réutilisant des informations publiques en violation des prescriptions susmentionnées est passible
            d'une amende prononcée par la commission d'accès aux documents administratifs.
        </p>
        Cookies
        <p class="text-left text-justify">L’utilisateur est informé que lors de ses visites sur le site un cookie peut
            s’installer automatiquement sur son logiciel de navigation. Le cookie est un bloc de données qui ne permet
            pas d’identifier les utilisateurs mais sert à enregistrer les informations relatives à la navigation de
            celui-ci sur le site. Le paramétrage du logiciel de navigation permet d’informer de la présence de cookie et
            éventuellement, de la refuser de la manière décrite à l’adresse suivante : www.cnil.fr. L’utilisateur
            dispose de l’ensemble des droits susvisés s’agissant des données à caractère personnel communiquées par le
            biais des cookies dans les conditions indiquées ci-dessus.

            Liens hypertextes
            Le site du musée du Louvre autorise la mise en place d'un lien hypertexte pointant vers son contenu dès lors
            qu'il ne crée pas de confusion sur la source des services et/ou contenus produits et/ou détenus par le musée
            du Louvre et sous réserve de :

            ne pas utiliser la technique du lien profond ("deep linking"), c'est-à-dire que les pages du site
            www.louvre.fr ne doivent pas être imbriquées à l'intérieur des pages d'un autre site, mais accessibles par
            l'ouverture d'une fenêtre.
            mentionner la source qui pointera grâce à un lien hypertexte directement sur le contenu visé.
            Les informations utilisées ne doivent l'être qu'à des fins personnelles, associatives ou professionnelles ;
            toute utilisation à des fins commerciales ou publicitaires est exclue. Attention ! Cette autorisation ne
            s'applique pas aux sites internet diffusant des informations à caractère polémique, pornographique,
            xénophobe ou pouvant, dans une plus large mesure porter atteinte à la sensibilité du plus grand nombre ; et
            aux sites internet portant atteinte aux intérêts matériels ou moraux du musée du Louvre.
            Pour d'autres utilisations, veuillez nous consulter par courrier à l’adresse mentionnée ci-dessus ou par
            mail à question-internet@louvre.fr
        </p>
        <h6>Responsabilité</h6>
        <p class="text-left text-justify"> Le site www.louvre.fr propose de nombreux liens vers d'autres sites,
            essentiellement des sites officiels (institutions, organismes publics, etc.) mais aussi vers quelques sites
            d'associations ou d'entreprises partenaires. Ces pages web dont les adresses sont régulièrement vérifiées,
            ne font pas partie du site public et officiel www.louvre.fr.

            Le musée du Louvre n'est pas responsable de la teneur desdits autres sites, et ne sera tenu responsable
            d'aucun dommage ou préjudice en découlant. Les liens vers d'autres sites sont fournis aux utilisateurs
            uniquement par pure commodité.

            Informations pratiques
            Horaires :
        <h5>Horaires d'ouverture</h5>

        <p>Le musée est ouvert tous les jours, sauf le mardi <br/>
            Fermé les 1er mai, 1er novembre, et 25 décembre
        </p>

            Newsletter

            Entrez au musée en moins de 30 minutes
            en achetant votre billet en ligne :

            Achetez votre billet

            Documents à télécharger
            Conditions générales d'utilisation
            Conditions Générale d'Utilisation Espace Personnel
            > pdf - 15.54 Ko
            Conditions générales
            Voir la page
            Conditions générales d’utilisation du service espace personnel
        </p>
    </div>

{% endblock %}


