{% extends 'LouvreBookingBundle:Booking:booking.html.twig' %}

{% block body %}
    <div id="wrapper">
            <div id="status">
                <img class="img-fluid" src="{{ asset('Public/images/logo_louvre.png') }}" alt="logo du musée du Louvre">

                <p>
                    Vous êtes sur le point de régler votre commande

                <p class="jumbotron">Le montant de votre commande s'élève à XXXX€</p>

                <form action="{{ path('louvre_booking_checkout') }}" method="POST">
                    <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"

                            data-amount="{{ amount }}"
                            data-name="Musée du Louvre"
                            data-description="paiement de votre commande"
                            data-image="{{ asset('Public/images/micrologo.png') }}"
                            data-locale="auto"
                            data-zip-code="true">
                    </script>
                </form>
                </p>
            </div>
        </div>
    </div>
{% endblock %}